@import "variables.scss";
@import "common.scss";
@import "animation.scss";
.#{$namespace}markdown {
    p {
        margin: 10px;
    }
}

.#{$namespace}widget-container {
  
  .#{$namespace}conversation-container{
      @media screen and (min-width: 800px){
          margin-bottom: 10px;
          border-radius: 30px 30px 5px 30px;
      }
  
      ul {
          padding-left: 10px;
          list-style: disc;
      }
  }

}


.#{$namespace}launcher {
  @include animation(0, 0.5s, slide-in);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  border-radius: 50%;
  height: 100px;
  margin: 0;
  width: 100px;
  box-sizing: border-box;
  padding-right: 0 !important;

  &:focus {
    outline: none;
  }
  
  &.#{$namespace}hide {
    height: 60px !important;
    width: 60px !important;
    border-radius: 40px 5px 40px 40px;
    background: linear-gradient(90deg, #205072 -24.5%, #329D9C 91.5%);
    box-shadow: 0px 2px 10px 1px $grey-3 !important;  
    display: none;
  }

  &.#{$namespace}full-screen {
    @include launcher-fs;
  }
  
  img {
    width: 150%;
    object-fit: contain;
  }

  .#{$namespace}unread-count-pastille {
    background-color: #e41c23;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
  }

  .#{$namespace}tooltip-body {
    background-color: white;
    box-sizing: border-box;
    border-radius: 8px;
    position: absolute;
    right: 78px;
    bottom: 12px;
    box-shadow: 1px 0px 13px 3px rgba(0, 0, 0, 0.15);
    width: 280px;
    font-size: 1.4em;
    padding: 0px 8px;
    line-height: 1.4em;
    animation: slideUp 0.3s ease-in-out;
    transition: all 0.2s ease-in-out;
    @media screen and (max-width: 800px){
      right: 74px;
      width: calc(100vw - 90px);
    }
    &:hover {
      background-color: rgb(250, 250, 250);
      transform: translateY(-2px);
      cursor: pointer;
      .#{$namespace}tooltip-decoration {
        background: rgb(250, 250, 250);
      }
    }
    .#{$namespace}image-details {
      object-fit: scale-down;
      max-width: 100%;
      margin-top: 8px;
      margin-bottom: 2px;
    }
    .#{$namespace}replies {
      @include replies;
      margin-left: 4px;
    }
    
    .#{$namespace}reply {
      @include reply;
    }

    .#{$namespace}response {
      text-align: left;
      margin-left: 10px;
      margin-right: 10px;
    }
    .#{$namespace}image-frame {
      object-position: 0 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 9px;
    }
  }
  .#{$namespace}tooltip-decoration {
    position: absolute;
    bottom: 12px;
    right: -6px;
    background: white;
    height: 12px;
    width: 12px;
    transition: all 0.2s ease-in-out;
    clip-path: polygon(100% 50%, 50% 0, 50% 100%);
    -webkit-clip-path: polygon(100% 50%, 50% 0, 50% 100%);
  }

  .#{$namespace}tooltip-response {
  margin-top:1.5rem
  }

  .#{$namespace}tooltip-close {
    position: absolute;
    top: 7px;
    right: 10px;
    color: red;
    height: 15px;
    width: 15px;
    transition: all 0.2s ease-in-out;
    button{
      // or else the default background color for a button on MOBILE is grey.
      background-color: white;
      cursor: pointer;
      border: none;
      padding: 0;
    }
  }
}

@keyframes slideUp {
  from {opacity: 0; transform: translateY(8px);}
  to {opacity: 1; transform: translateY(0);}
}

.#{$namespace}open-launcher {
  @include animation(0, 0.5s, rotation-rl);
  margin-top: auto;
  margin-left: auto;
  width: 60px;
  height: 60px;
  background: linear-gradient(90deg, #205072 -24.5%, #329D9C 91.5%);
  border-radius: 40px 40px 40px 5px;
}

.#{$namespace}close-launcher {
  &.#{$namespace}default {
    width: 20px !important;
  }
  @include animation(0, 0.5s, rotation-lr);
}

&.#{$namespace}hide-sm {
  height: 60px;
  width: 60px;
  border-radius: 40px 5px 40px 40px;
  background: linear-gradient(90deg, #205072 -24.5%, #329D9C 91.5%);
  box-shadow: 0px 2px 10px 1px $grey-3;

  img {
    width: 70%;
    max-height: 70%;
    object-fit: contain;
  }
}

@media screen and (max-width: 800px) {
  .#{$namespace}hide-sm {
    // height: 60px !important;
    // width: 60px !important;
    // background-color: $tertiary !important;
    // box-shadow: 0px 2px 10px 1px $grey-3 !important;  
    display: none;
  }
}
