@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {

  .#{$namespace}replies {
    @include replies;
  }
  
  .#{$namespace}reply {
    @include reply;
  }
  
  .#{$namespace}response {
    @include message-bubble(#f4f4f4, #000, 0 15px 15px 15px);
    max-width: 67%;
  }
  
  .#{$namespace}avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 6px;
    position: relative;
    bottom: 5px;
    background-color: rgba(141, 248, 211, 0.5);
  }

}
