@import "variables.scss";
@import "common.scss";

.#{$namespace}logo-container {
  display: flex;
  padding: 1.25rem 0;
  background: #f4f7f9;
  border-radius: 0 0 5px 30px;
  align-items: center;
}

.#{$namespace}logo-caption {
  margin-left: auto;
  margin-right: 1rem;
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 12px !important;
}

.#{$namespace}logo-image {
  height: 20px;
  margin-right: auto;
}

.#{$namespace}logo-a {
  margin: auto;
  align-items: center;
  display: flex;
}