@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {
  .#{$namespace}sender {
    align-items: center;
    display: flex;
    background-color: $grey-2;
    // height: 50px;
    padding: 15px 5px 5px;
  }
  
  .#{$namespace}new-message-container {
    display: flex;
    flex: 1;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #8bd8be;
    margin-right: 10px;
    min-height: 35px;
    overflow: hidden;
  }
  
  .#{$namespace}sender-textarea {
    flex: 1;
    word-break: break-word;
    padding: 10px;
    max-height: 80px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Roboto';
  }
  
  .#{$namespace}sender-textarea::-webkit-scrollbar {
    display: none;
  }
  
  .#{$namespace}new-message {
    display: none;
  }
  
  
  .#{$namespace}send {
    background: transparent;
    border: 0;
    
    .#{$namespace}icon {
      fill: #8bd8be;
    }
    
    .#{$namespace}send-icon {
      fill: #00000000;;
      transition: fill 0.35s;
    }

    .#{$namespace}send-icon-ready {
      fill: #8bd8be;
      transition: fill 0.35s;
    }
  }
  
  @media screen and (max-width: 800px)  {
    .#{$namespace}sender {
      border-radius: 0;
      flex-shrink: 0;
    }
  }
  
}

.#{$namespace}widget-embedded {
  .#{$namespace}sender {
    flex: 0, 0, auto;
    height: 60px;
  }
}