@import "variables.scss";

// @import "common.scss";

.#{$namespace}interactive-loading {
  display: flex;
  max-width: -moz-available !important;
  max-width: -webkit-fill-available !important;
  max-width: fill-available !important;
  margin-left: -41px;
  margin-top: 10px;
  padding: 0px !important;
  flex: 1;
  justify-content: space-between;
  border-radius: 8px !important;
  align-items: center;
  background-color: #EEFDF9 !important;
}

.#{$namespace}interactive {

  .#{$namespace}kg-buttons {
    color: white;
    cursor: pointer;
    display: inline;
    background: #4dd5c3;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
    margin-bottom: 6px;
  }

  .#{$namespace}cancel-button {
    color: white;
    cursor: pointer;
    display: inline;
    background: red;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Roboto';
    font-size: 15px;
  }

  .#{$namespace}cancel-margin-button {
    color: white;
    cursor: pointer;
    display: inline;
    background: red;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
    margin-left: 10px;
  }

  .#{$namespace}interactive-spinner-wrapper {
    display: flex;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 500;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    color: #757575;
    padding: 0 20px;
  }

  .#{$namespace}kg-buttons-container {
    display: flex;
    flex-direction: column;
  }

  div#wave {
    width:25px;
    height:13px;
    display: flex;
    margin-top: 5px;
    // margin-right: auto;
    .#{$namespace}dot {
      display:inline-block;
      width:5px;
      height:5px;
      border-radius:50%;
      margin-right:3px;
      background:#939393;
      animation: wave 1.6s linear infinite;
  
      &:nth-child(2) {
        animation-delay: -1.4s;
      }
  
      &:nth-child(3) {
        animation-delay: -1.2s;
      }
    }
  }
  
  @keyframes wave {
    0%, 60%, 100% {
      transform: initial;
    }
  
    30% {
      transform: translateY(-5px);
    }
  }

}
