@import "variables.scss";

@import "common.scss";

.#{$namespace}conversation-container {
  .#{$namespace}header-and-loading {
    background-color: #ffffff;
    border-radius: 30px 30px 0px 0px;
  }

  .#{$namespace}header-and-loading-grey {
    background-color: #b5b5b5;
  }

  .#{$namespace}header {
    // background-color: $tertiary;
    // background: linear-gradient(90deg, rgba(76,149,139,1) 46%, rgba(48,222,128,1) 100%);
    background-image: linear-gradient(to right, #205072, #329d9c);
    border-radius: 30px 30px 30px 0;
    color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 70px;
    font-family: $fontfamily;
    position: relative;
    .#{$namespace}avatar {
      all: initial;
      height: 35px;
      width: 35px;
      position: absolute;
      top: 18px;
      left: 18px;
      border-radius: 100%;
      background-color: #c1f7e4;
    }
  }

  .#{$namespace}header.#{$namespace}with-subtitle {
    height: 70px;
    .#{$namespace}avatar {
      top: 20px;
    }
    .#{$namespace}title {
      top:11px;
    }
    span {
      bottom: 12px;
      position: absolute;
      left: 22px;
      &.#{$namespace}with-avatar {
        left: 67px;
      }
    }
  }

  .#{$namespace}title {
    font-size: 20px;
    margin: 0;
    font-family: 'Poppins';
    position: absolute;
    left: 20px;
    font-weight: 500;
    &.#{$namespace}with-avatar {
      left: 67px;
    }
  }

  .#{$namespace}header-buttons {
    @include header-buttons-fs;
  }

  .#{$namespace}close-button {
    display: none;
  }

  .#{$namespace}toggle-fullscreen-button {
    @include header-button-fs;
  }

  .#{$namespace}toggle-fullscreen {
    @include header-icon-fs;
  }

  .#{$namespace}loading {
    background-color: $grey-3;
    color: $white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 5px 0 5px;
    font-family: $fontfamily;
    font-size: 14px;
  }
}

&.#{$namespace}widget-embedded {
  .#{$namespace}header {
    display: none;
  }
}

.#{$namespace}full-screen {

  .#{$namespace}header {
    @include header-fs;
  }

  .#{$namespace}title {
    @include title-fs;
  }

  .#{$namespace}close-button,
  .#{$namespace}toggle-fullscreen-button {
    @include header-button-fs;
  }

  .#{$namespace}close,
  .#{$namespace}toggle-fullscreen {
    @include header-icon-fs;
  }

  .#{$namespace}loading {
    @include loading-fs;
  }
}

@media screen and (max-width: 800px) {
  .#{$namespace}conversation-container {
    .#{$namespace}header {
      @include header-fs;
    }

    .#{$namespace}title {
      @include title-fs;
    }

    .#{$namespace}close-button {
      @include header-button-fs;
    }

    .#{$namespace}close {
      @include header-icon-fs;
    }

    .#{$namespace}toggle-fullscreen-button, .#{$namespace}w-.toggle-fullscreen {
      display: none;
    }

    .#{$namespace}loading {
      @include loading-fs;
    }
  }
}
