@import "variables.scss";
@import "common.scss";

.#{$namespace}widget-container {
  overflow: visible !important;
}

.#{$namespace}conversation-container {
  overflow: visible !important;
}

.#{$namespace}login-container {
  background-color: $white;
  height: 50vh;
  max-height: 425px;
  overflow: visible !important;
  @media screen and (min-width: 800px){
    height: 525px;
    max-height: 62vh;
  }
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 35px 45px;
  align-items: center;
  // border-radius: 0px 0px 5px 30px;
}

.#{$namespace}login-title {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 20px !important;
  color: #329D9C;
}

.#{$namespace}login-subtitle {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px !important;
  color: #329D9C;
}

.#{$namespace}login-input {
  align-self: normal;
  font-size: 1em;
  width: 100%;
  border: 0;
  background-color: #f4f4f4;
  padding-left: 15px;
  font-family: Roboto;
  height: 50px;
  border-radius: 8px;
  margin-top: 25px;
  margin-bottom: 5px;
}

.#{$namespace}login-error {
  color: red;
  font-family: Roboto;
  font-size: 12px !important;
  position: absolute;
  margin: 0 !important;
}

.#{$namespace}login-button {
  // margin-top: auto;
  margin: 2.5rem auto 0 auto;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto';
  background: #4DD5C3;
  box-shadow: 0px 0px 10px rgba(0, 134, 139, 0.2);
  color: #FFFFFF;
  padding: 15px 55px;
  display: flex;
  align-items: center;
}

.#{$namespace}login-button:disabled {
  // margin-top: auto;
  margin: 4rem auto 0 auto;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  font-family: 'Roboto';
  background: grey;
  box-shadow: 0px 0px 10px rgba(0, 134, 139, 0.2);
  color: #FFFFFF;
  padding: 15px 55px;
  display: flex;
  align-items: center;
}

.#{$namespace}login-button:disabled:hover {
  // margin-top: auto;
  color: #FFFFFF;
}

.#{$namespace}login-ext-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.#{$namespace}login-ext {
  flex: 1
}

.#{$namespace}login-ext-avatar {
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

.#{$namespace}login-sel__control {
  width: fit-content;
  background-color: transparent !important;
}

.#{$namespace}login-ext-input {
  border: none;
  background-color: #F4F4F4;
  padding-top: 2px;
}

.#{$namespace}login-sel__menu {
  width: auto !important;
  margin-left: -38px;
}

.#{$namespace}login-sel__value-container {
  display: none !important;
}

.#{$namespace}login-sel__indicator-separator  {
  display: none;
}

.#{$namespace}login-arrow-icon {
  font-size: 20px;
  margin-left: 10px;
}

.#{$namespace}widget-embedded {
  .#{$namespace}login-container {
    height: 100%;
    max-height: 100%;
  }
}

.#{$namespace}full-screen {

  .#{$namespace}login-container {
    @include messages-container-fs;
  }
}

@media screen and (max-width: 800px)  {
  .#{$namespace}login-container {
    @include messages-container-fs;
  }
}
