@import url('https://fonts.googleapis.com/css?family=Inter:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

$fontfamily: 'Inter', sans-serif;  

@mixin message-bubble($color, $textColor, $borderRadius: 15px) {
  background-color: $color;
  color: $textColor;
  border-radius: $borderRadius;
  padding: 11px 15px;
  text-align: left;
  font-family: $fontfamily;
}

@mixin borderless-message-bubble($color, $textColor) {
    border-color: $color;
    border-radius: 15px;
    color: $textColor;
    border-style: solid;
    padding: 15px;
    max-height: 1em;
    text-align: center;
    font-family: $fontfamily;
  }

@mixin widget-container-fs {
  height: 100%;
  margin: 0;
  max-width: none;
  width: 100%;
}

@mixin header-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin title-fs {
  //padding: 0 0 15px 0;
}

@mixin header-buttons-fs {
  position: absolute;
  right: 10px;
  display: flex;
  flex-direction: row;
}

@mixin header-button-fs {
  @include center;
  display: inline-block;
  // background-color: $tertiary;
  background-color: transparent;
  border: 0;
  width: 40px;
  cursor: pointer;

  &:focus, &:active, &:hover {
    outline: none;

    &::-moz-focus-inner {
      border:0;
    }
  }
}

@mixin header-icon-fs {
  &.#{$namespace}default {
    width: 20px;
    height: 20px;

    &:focus, &:active, &:hover {
      width: 24px;
      height: 24px;
    }
  }

  width: 30px;
  height: 30px;
  padding-top: 3px;

  &:focus, &:active, &:hover {
    width: 34px;
    height: 34px;
    top: -2px;
    margin-left: -2px;
  }
}

@mixin messages-container-fs {
  height: 100%;
  max-height: none;
}

@mixin conversation-container-fs {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  border-radius: 0;
}

@mixin loading-fs {
  border-radius: 0;
  flex-shrink: 0;
  position: relative;
}

@mixin launcher-fs {
  margin: 0 20px 20px 0;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin reply {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  border-color: $blue-2;
  border-radius: 15px;
  border-width: 1px;
  color: $blue-2;
  border-style: solid;
  padding-right: 8px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-top: 4px;
  min-height: 1.7em;
  text-align: center;
  font-family: $fontfamily;
  cursor: pointer;
  margin: 0.25em;
  text-decoration: unset;
  &:hover {
    border-color: $blue-1;
    color: $blue-1;
  }
}

@mixin replies {
  margin: 10px;
  display: flex;
  line-height: 20px;
  flex-wrap: wrap;
  overflow: auto;
  font-size: 16px;
  font-family: $fontfamily;
}