$green-1: #35e65d;
$green-2: #38e8c6;
$grey-1: #cdd8ec;
$grey-2: #f4f7f9;
$grey-3: #b5b5b5;
$turqois-1: #35cce6;
$turqois-2: #a3eaf7;
$white: #fff;
$red-1: #ff0000;
$red-2: #ff7070;
$blue-1: #003a9b;
$blue-2: #0084ff;
$namespace: "rw-";
$tertiary: #135afe;