@import "variables.scss";

// @import "common.scss";

.#{$namespace}buttons {

  .#{$namespace}scenario-buttons {
    color: white;
    cursor: pointer;
    display: inline;
    background: #4dd5c3;
    border: none;
    padding: 10px;
    font: inherit;
    border-radius: 5px;
    margin-bottom: 6px;
  }

  .#{$namespace}kg-buttons-container {
    display: flex;
    flex-direction: column;
  }
}
